* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 300px;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-control {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

.btn {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover {
	background-color: #3e8e41;
}

#login-error-msg {
	color: red;
	font-size: 12px;
	text-align: center;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

#login-error-msg.visible {
	opacity: 1;
}